<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.BagMapper">
    
    <select id="bagSearch" resultType="kr.smhrd.model.BagVO">
        select * from bag where bag_brand=#{bag_brand}
    </select>

    <select id="new_bag_detail" resultType="kr.smhrd.model.New_BagVO">
        select new_mall, new_price from new_bag order by new_price limit 5;
    </select>
    
    
    <select id="used_bag_detail" resultType="kr.smhrd.model.Used_BagVO">
        select used_mall, used_price from used_bag order by used_price limit 5;
    </select>
    
 	<!-- <select id="selectimage" resultType="map">
 	    select new_img from new_bag where bag_no = #{bag_no};
 	    
 	</select> -->
 	
 	<select id="selectimage" resultType="kr.smhrd.model.New_BagVO">
 	    select * from new_bag where bag_no = #{bag_no}; 	    
 	</select>
 	
 	<insert id="boardinsert" parameterType="kr.smhrd.model.BoardVO">
		insert into board(board_nick,board_pw,board_content,board_head)
		values(#{board_nick},#{board_pw},#{board_content},#{board_head})	    
 	</insert>
 	
 	<select id="boardList" resultType="kr.smhrd.model.BoardVO">
		select * from board; 	    
 	</select>
 	
 	<select id="boardView" resultType="kr.smhrd.model.BoardVO">
 	    select * from board where board_no=#{board_no};
 	</select>
 	
 	<select id="updateval" resultType="String">
		select board_pw from board where board_nick=#{board_nick}; 	    
 	</select>
 	
</mapper>